<div class="navbar-container">
  <%= image_tag 'claric-logo.png', class: "main-navbar-logo" %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= image_tag 'claric-logo.png', class: "mobile-navbar-logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span>MENU</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to somos_claric_path, class: "nav-link" do %>
            <p>Somos Claric</p>
            <hr class="navbar-line <%= params[:controller] == 'pages' && params[:action] == 'somos_claric' ? 'navbar-line-active' : '' %>">
          <% end %>
        </li>
        <span class="navbar-seperator">|</span>
        <li class="nav-item">
          <%= link_to servicios_path, class: "nav-link" do %>
            <p>Servicios</p>
            <hr class="navbar-line <%= params[:controller] == 'pages' && params[:action] == 'servicios' ? 'navbar-line-active' : '' %>">
          <% end %>
        </li>
        <span class="navbar-seperator">|</span>
        <li class="nav-item">
          <%= link_to clientes_path, class: "nav-link" do %>
            <p>Clientes</p>
            <hr class="navbar-line <%= params[:controller] == 'pages' && params[:action] == 'clientes' ? 'navbar-line-active' : '' %>">
          <% end %>
        </li>
        <span class="navbar-seperator">|</span>
        <li class="nav-item">
          <%= link_to contactenos_path, class: "nav-link" do %>
            <p>Contactenos</p>
            <hr class="navbar-line <%= params[:controller] == 'pages' && params[:action] == 'contactenos' ? 'navbar-line-active' : '' %>">
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
