<div class="container">
  <div class="title-line-break-container" style="margin-top: 60px;">
    <div class="side-bar sb-left" style="border-right: 2px solid #5E5A5A;"></div>
    <div class="title-break">
        <div class="triangle-left" style="border-right: 15px solid #5E5A5A;"></div>
        <div class="middle-part" style="background: #5E5A5A;">
          <p>Nuestros Clientes</p>
        </div>
        <div class="triangle-right" style="border-left: 15px solid #5E5A5A;"></div>
    </div>
    <div class="side-bar sb-right" style="border-left: 2px solid #5E5A5A;"></div>
    <hr style="border-top: 2px solid #5E5A5A;">
  </div>
  <div class="nuestros-clientes">
    <p>Nuestros mayores clientes incluyen compañias en las siguentes industrias</p>
  </div>
  <div class="row" style="margin-bottom: 70px;">
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <%= image_tag 'https://images.pexels.com/photos/209197/pexels-photo-209197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
        <p>Petroleo</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <%= image_tag 'https://images.pexels.com/photos/390426/pexels-photo-390426.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
        <p>Vidro Temprado</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <%= image_tag 'https://images.pexels.com/photos/209197/pexels-photo-209197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
        <p>Petroleo</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <%= image_tag 'https://images.pexels.com/photos/390426/pexels-photo-390426.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
        <p>Vidro Temprado</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <%= image_tag 'https://images.pexels.com/photos/209197/pexels-photo-209197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
        <p>Petroleo</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <%= image_tag 'https://images.pexels.com/photos/390426/pexels-photo-390426.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
        <p>Vidro Temprado</p>
      </div>
    </div>
  </div>

</div>
