<div class="container">
  <div class="home-video">
    <div class="player">
      <%= cl_video_tag "Claric-Video_1_gc2mkz", class: "player__video viewer", eager_async: true, id: "video_home", controls: true, quality: "auto:low", loop: true, autoplay: true, muted: true %>
      <div class="video-logo-holder">
        <div class="volume-toggle">
          <%= image_tag "volume_on.png", class:"volume-logo d-none", id: "volume_on" %>
          <%= image_tag "volume_off.png", class:"volume-logo", id: "volume_off" %>
        </div>
      </div>
    </div>
  </div>
  <div class="title-line-break-container">
    <div class="side-bar sb-left"></div>
    <div class="title-break">
        <div class="triangle-left"></div>
        <div class="middle-part">
          <p>Agencia Aduanera</p>
        </div>
        <div class="triangle-right"></div>
    </div>
    <div class="side-bar sb-right"></div>
    <hr>
  </div>
  <div class="home-services-section">
    <div class="row w-100">
      <div class="col-xs-12 col-sm-6 col-md-4 d-flex justify-content-center">
        <div class="home-service">
          <%= image_tag 'logistica.png' %>
          <h4 class="home-service-title">Logística</h4>
          <p class="home-service-text">
            Prestando servicios de intermadiación aduanera en importación y exportación. Estamos presentes en los principales puertos marítimos y
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 d-flex justify-content-center">
        <div class="home-service">
          <%= image_tag 'importaciones.png' %>
          <h4 class="home-service-title">Importaciones</h4>
          <p class="home-service-text">
            Prestando servicios de intermadiación aduanera en importación y exportación. Estamos presentes en los principales puertos marítimos y
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 d-flex justify-content-center">
        <div class="home-service">
          <%= image_tag 'exportaciones.png' %>
          <h4 class="home-service-title">Exportaciones</h4>
          <p class="home-service-text">
            Prestando servicios de intermadiación aduanera en importación y exportación. Estamos presentes en los principales puertos marítimos y
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 d-flex justify-content-center">
        <div class="home-service">
          <%= image_tag 'licencias.png' %>
          <h4 class="home-service-title">Licencias</h4>
          <p class="home-service-text">
            Prestando servicios de intermadiación aduanera en importación y exportación. Estamos presentes en los principales puertos marítimos y
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 d-flex justify-content-center">
        <div class="home-service">
          <%= image_tag 'licencias.png' %>
          <h4 class="home-service-title">Re expediciones</h4>
          <p class="home-service-text">
            Prestando servicios de intermadiación aduanera en importación y exportación. Estamos presentes en los principales puertos marítimos y
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 d-flex justify-content-center">
        <div class="home-service">
          <%= image_tag 'transitosaduaneros.png' %>
          <h4 class="home-service-title">Tránsitos Aduaneros</h4>
          <p class="home-service-text">
            Prestando servicios de intermadiación aduanera en importación y exportación. Estamos presentes en los principales puertos marítimos y
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="title-line-break-container">
    <div class="side-bar sb-left"></div>
    <div class="title-break">
        <div class="triangle-left"></div>
        <div class="middle-part">
          <p>Apoyamos a Colombia</p>
        </div>
        <div class="triangle-right"></div>
    </div>
    <div class="side-bar sb-right"></div>
    <hr>
  </div>
  <div class="bananas-background">
    <div class="bananas-background-web">
      <%= image_tag 'bananas-background.png' %>
    </div>
    <div class="bananas-background-mobile">
      <%= image_tag 'bananas-background-mobile.png' %>
    </div>
    <div class="bananas-text">
      <h3 style="color: white;">EXPORTACIONES</h3>
      <div class="title-line-break-container" style="margin: 10px 0;">
        <div class="side-bar sb-left" style="border-color: white;"></div>
        <div class="title-break">
        </div>
        <div class="side-bar sb-right"  style="border-color: white;"></div>
        <hr style="border-color: white;">
      </div>
      <p style="color: white;">Facilitamos la exportación de los productos principales del sector agro en Colombia. </p>
      <%= link_to contactenos_path do %>
         <div class="title-break" style='margin: 0;'>
          <div class="triangle-left" style="border-right: 15px solid white;"></div>
          <div class="middle-part"  style="background-color: white;">
            <p style="color: #3F477C">Contáctanos</p>
          </div>

          <div class="triangle-right" style="border-left: 15px solid white;"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="containers-background">
    <div class="containers-background-web">
      <%= image_tag 'containers-background.png' %>
    </div>
    <div class="containers-background-mobile">
      <%= image_tag 'containers-background-mobile.png' %>
    </div>
    <div class="bananas-text">
      <h3 style="color: white;">IMPORTACIONES</h3>
      <div class="title-line-break-container" style="margin: 10px 0;">
        <div class="side-bar sb-left" style="border-color: white;"></div>
        <div class="title-break">
        </div>
        <div class="side-bar sb-right"  style="border-color: white;"></div>
        <hr style="border-color: white;">
      </div>
      <p style="color: white;">Ayudamos a nuestros clientes a importar de mas de 280 puertos alrededor del mundo.</p>
      <%= link_to contactenos_path do %>
         <div class="title-break" style='margin: 0;'>
          <div class="triangle-left" style="border-right: 15px solid white;"></div>
          <div class="middle-part"  style="background-color: white;">
            <p style="color: #3F477C">Contáctanos</p>
          </div>

          <div class="triangle-right" style="border-left: 15px solid white;"></div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<script>
  const video = document.getElementById("video_home");
  const volumeOn = document.getElementById("volume_on");
  const volumeOff = document.getElementById("volume_off");

  volumeOff.addEventListener('click', function() {
    volumeOn.classList.toggle("d-none");
    volumeOff.classList.toggle("d-none");
    video.muted = false;
  });

  volumeOn.addEventListener('click', function() {
    volumeOn.classList.toggle("d-none");
    volumeOff.classList.toggle("d-none");
    video.muted = true;
  });
</script>
