<%= title 'Servicios' %>
<% description 'Aduana Colombia' %>
<% keywords 'Importaciones | Agencia de Aduanas Colombia | Exportaciones | Exportadores en Colombia | Aduana Colombia' %>
<div class="container">
  <div class="main-header" style="margin-bottom: 0;">
    <hr>
      <div class="main-header-title-box" style="background: #306B40; ">
        <p><%= t('navbar.services') %></p>
      </div>
    <hr>
  </div>
  <div class="servicios-banner">
    <p class="servicios-banner-text"><%= t('.banner_text_top') %></p>
    <%= image_tag 'claric-pastel.png' %>
    <p class="servicios-banner-text"><%= t('.banner_text_bottom') %></p>
    <div class="servicios-options">
      <div class="each-option">
        <%= image_tag 'gazebo.png' %>
        <div class="each-option-content">
          <div class="each-option-number">
            <h3 style="color: #404778; font-weight: bold;">1</h3>
          </div>
          <div class="each-option-text">
            <p><%= t('.imports') %> <span style="color: #404778;"><%= t('.imports_word') %></span></p>
          </div>
        </div>
      </div>
      <div class="each-option">
        <%= image_tag 'gazebo.png' %>
        <div class="each-option-content">
          <div class="each-option-number">
            <h3 style="color: #404778; font-weight: bold;">2</h3>
          </div>
          <div class="each-option-text">
            <p><%= t('.exports') %> <span style="color: #404778;"><%= t('.exports_word') %></span></p>
          </div>
        </div>
      </div>
      <div class="each-option">
        <%= image_tag 'gazebo.png' %>
        <div class="each-option-content">
          <div class="each-option-number">
            <h3 style="color: #404778; font-weight: bold;">3</h3>
          </div>
          <div class="each-option-text">
            <p><%= t('.logistics') %> <span style="color: #404778;"><%= t('.logistics_word') %></span></p>
          </div>
        </div>
      </div>
      <div class="each-option">
        <%= image_tag 'gazebo.png' %>
        <div class="each-option-content">
          <div class="each-option-number">
            <h3 style="color: #404778; font-weight: bold;">4</h3>
          </div>
          <div class="each-option-text">
            <p><%= t('.customs_consulting') %> <span style="color: #404778;"><%= t('.customs_consulting_word') %></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="sub-header"><%= t('.logo_header') %></h4>
  <div class="certificada-logos">
    <div class="servicios-logo-holder-container">
      <div class="servicios-logo-holder servicios-logo-holder-left">
        <%= image_tag 'basc.png' %>
      </div>
      <div class="servicios-logo-holder servicios-logo-holder-right">
        <%= image_tag 'fitac.png' %>
      </div>
    </div>
  </div>
</div>

