<div class="container" style="margin-bottom: 100px;">
  <div class="main-header" style="margin-bottom: 0;">
    <hr>
      <div class="main-header-title-box" style="background: #404778; ">
        <p><%= t('navbar.claric') %></p>
      </div>
    <hr>
  </div>
  <div class="somos-claric-banner">
    <%= image_tag 'footer-claric-logo.jpg', class: "footer-claric-logo" %>
    <p><%= t('.celebrate') %></p>
  </div>
  <div class="title-break-container">
    <div class="title-break">
      <div class="triangle-left"></div>
      <div class="middle-part">
        <p><%= t('.what_we_do') %></p>
      </div>
      <div class="triangle-right"></div>
    </div>
  </div>
  <div class="somos-claric-text">
    <p><%= t('.what_we_do_text') %></p>
  </div>
  <div class="title-break-container">
    <div class="title-break">
      <div class="triangle-left"></div>
      <div class="middle-part">
        <p><%= t('.how_we_do_it') %></p>
      </div>
      <div class="triangle-right"></div>
    </div>
  </div>
  <div class="somos-claric-text">
    <p><%= t('.how_we_do_it_text') %></p>
  </div>
  <div class="title-break-container">
    <div class="title-break">
      <div class="triangle-left"></div>
      <div class="middle-part">
        <p><%= t('.why_we_do_it') %></p>
      </div>
      <div class="triangle-right"></div>
    </div>
  </div>
  <div class="somos-claric-text">
    <p><%= t('.why_we_do_it_text') %></p>
  </div>
  <div class="downloadable">
    <%= image_tag 'claric-logo.png', class: "about-logo" %>
    <p><%= t('.politica_de') %></p>
    <%= link_to download_pdf_path + "?name=TNC" do %>
      <div class="title-break-container">
        <div class="title-break">
          <div class="triangle-left"></div>
          <div class="middle-part">
            <p>Click Aquí</p>
          </div>
          <div class="triangle-right"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
